<!-- login.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Đăng nhập</title></head>
<body>
<h2>Đăng nhập</h2>
<form th:action="@{/login}" method="post" th:object="${user}">
    <label>Email:</label>
    <input type="text" th:field="*{email}" /><br/>
    <label>Mật khẩu:</label>
    <input type="password" th:field="*{passwordHash}" /><br/>
    <button type="submit">Đăng nhập</button>
    <a th:href="@{/register}">Tạo tài khoản mới</a>

</form>
<p th:text="${error}" style="color:red;"></p>
</body>
</html>
